[user]
    name = Danny Ben Shitrit
    email = db@dannyben.com
[push]
    default = simple
[color]
    ui = true
[core]
    editor = vi
    autocrlf = input
    excludesfile = ~/.gitignore_global
[credential]
    helper = cache --timeout=21600
